body {
    background-color: #ffd6e7;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.collage {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    background: white;
    padding: 10px;
    border-radius: 15px;
}

.single {
    width: 70%;
    border-radius: 15px;
}

.gallery img {
    width: 45%;
    margin: 10px;
    border-radius: 15px;
}

button {
    font-size: 20px;
    padding: 15px 25px;
    margin: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.yes {
    background-color: #ff4da6;
    color: white;
}

.no {
    background-color: #444;
    color: white;
}
